@font-face {
  font-family: Luckiest Guy;
  src: url('../fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf');
}

@font-face {
  font-family: Inter;
  src: url('../fonts/Inter/static/Inter-Regular.ttf');
}

@font-face {
  font-family: InterBold;
  src: url('../fonts/Inter/static/Inter-Bold.ttf');
}

a {
  text-decoration: none;
}

.reverse-spinner {
  position: relative;
  height: 100px;
  width: 100px;
  border: 4px solid transparent;
  border-top-color: #1976d2;
  border-left-color: #1976d2;
  border-radius: 50%;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

.reverse-spinner::before {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  content: "";
  border: 4px solid transparent;
  border-top-color: #03a9f4;
  border-left-color: #03a9f4;
  border-radius: 50%;
  -webkit-animation: spinBack 1s linear infinite;
  animation: spinBack 1s linear infinite;
}
.bg-color-white{
  background-color: #fff;
  border-bottom: 1px solid #EAECF0;
}

.sameClass {
  transition: none !important;
}